set_io --warn-no-port SDA 3
set_io --warn-no-port SCL 4 
set_io --warn-no-port rst 23
set_io --warn-no-port BLED 39
set_io --warn-no-port GLED 40
set_io --warn-no-port RLED 41
set_io --warn-no-port txd 20
set_io --warn-no-port rxd 10
set_io --warn-no-port IRLED 13
set_io --warn-no-port TRIG 9
set_io --warn-no-port MCLK 11
set_io --warn-no-port PCLK 19
set_io --warn-no-port cam_data[0] 21
set_io --warn-no-port cam_data[1] 12
set_io --warn-no-port cam_data[2] 37
set_io --warn-no-port cam_data[3] 31
set_io --warn-no-port cam_data[4] 35
set_io --warn-no-port cam_data[5] 32
set_io --warn-no-port cam_data[6] 27
set_io --warn-no-port cam_data[7] 26